<?xml version="1.0" encoding="utf-8" standalone="yes"?><codeeffects><rule created="7/6/2012 3:01:05 PM" assembly="1.0.0.8"><if><field propertyName="AskDate" dataType="date" format="MMM dd, yyyy" /><operator type="isNot" dataType="date" /><value dataType="date" propertyName="BidDate" /><clause type="and" /><field propertyName="AskSize" dataType="numeric" min="-9007199254740992" max="9007199254740992" allowDecimal="true" allowCalculation="true" /><operator type="is" dataType="numeric" /><value dataType="numeric" propertyName="BidPrice" /><clause type="then" /><action methodName="BuyStock"><input dataType="numeric" type="field" propertyName="AskPrice" /></action></if></rule></codeeffects>