<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="TM.Rules.App.Properties.Settings.SMConnectionString" connectionString="Data Source=PC157646\EXPRESS1;Initial Catalog=SM;Persist Security Info=True;User ID=sa;Password=sa123" providerName="System.Data.SqlClient"/>-->
    <add name="SMConnectionString" connectionString="Data Source=PC157646\EXPRESS1;Initial Catalog=SM;User ID=sa;Password=sa123"    providerName="System.Data.SqlClient" />
    <!--<add name="SMConnectionString" connectionString="Data Source=stockmanager1.db.7662504.hostedresource.com; Initial Catalog=stockmanager1; User ID=stockmanager1; Password=Password-12" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
