<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SMConnectionString" connectionString="Data Source=HOMELAP\SQLEXPRESS; Initial Catalog=stockmanager1; User ID=sa; Password=sa123"
            providerName="System.Data.SqlClient" />
        <add name="TM.Rules.App.Properties.Settings.SMConnectionString"
            connectionString="Data Source=HOMELAP\SQLEXPRESS;Initial Catalog=stockmanager1;Persist Security Info=True;User ID=sa;Password=sa123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
