<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=HOMELAP\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="SMConnectionString" connectionString="Data Source=HOMELAP\SQLEXPRESS; Initial Catalog=stockmanager1; User ID=sa; Password=sa123" providerName="System.Data.SqlClient" />
    <!--<add name="SMConnectionString" connectionString="Data Source=PC157646\EXPRESS1;Initial Catalog=SM;User ID=sa;Password=sa123"    providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<customErrors mode="Off"/>
		<authentication mode="Forms">
	
		</authentication>


    <trust level="Full" legacyCasModel="false"  processRequestInApplicationTrust="true"/>


  </system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
	</system.webServer>
</configuration>
